@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background-start-rgb: 70,108,12;
  --background-middle-rgb: 44,132,12;
  --background-end-rgb: 20,68,12;*/
  --background-rgb:255,255,255;
}

body {
  background: linear-gradient(to bottom, 
    rgb(var(--background-start-rgb)), 
    rgb(var(--background-middle-rgb)), 
    rgb(var(--background-end-rgb)));
}
